<h2>{{ product?.name }}</h2>

<div class="product-list">
<img class="img" [src]="product?.image" width="300">
<div class="product-card">
    <div class="info">
<h3> {{ product.description }}</h3>
<h3>Price: {{ product?.price }} ₸</h3>
<h3>Likes: {{ product?.likes }} ❤️</h3>
<h3>Rating {{ product.rating }} / 5</h3> </div>
<div class="column">
<a [href]="product.link" target="_blank"><button id="b">Buy</button></a><br>
<button (click)="likeProduct()">Like</button><br>
<button (click)="deleteProduct()">Delete</button>
</div>
<div class="button-container">
    <button class="share-button whatsapp" (click)="shareOnWhatsApp(product.link)">Share on WhatsApp</button>
    <button class="share-button telegram" (click)="shareOnTelegram(product.link)">Share on Telegram</button>
      </div>
    </div>
</div>
