h1 {
    text-align: center;
    color: #d000a2;
    font-size: 3.5em;
    margin: 40px;
    padding: 20px;
    background-color: #f0b5ff58;
    border-radius: 30px;
}
h2 {
    color: #d000a2;
    font-size: 2.5em;
    margin: 40px;
    text-align: center;
    padding: 20px;
    background-color: #f0b5ff58;
    border-radius: 30px;
    width: 500px;
}
p {
    text-align: center;
    justify-content: center;
    font-size: 2em;
    color: #d000a2;
}
ul { 
    margin: 50px;
    padding: 10px;
    color: #d000a2;
    font-size: 1.5em;
}
a {
    color: #d000a2;
    text-decoration: none;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    margin: 40px;
    padding: 20px;
    background-color: #f0b5ff58;
    width: 50px;
    border-radius: 20px;
}
a:hover {
    transform: scale(1.05);
}
