h1 {
    text-align: center;
    color: #d000a2;
    font-size: 2.5em;
    margin: 40px;
    padding: 20px;
    background-color: #f0b5ff58;
    border-radius: 30px;

}
.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
    padding: 20px;
    margin: 40px;
    background-color: #f0b5ff58;
    border-radius: 40px;
}
.card {
    width: 150px; 
    height: 150px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    border: solid rgba(208, 0, 163, 0.251);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.card:hover {
    transform: scale(1.05);
}
.card button {
    background-color: #efabe0;
    color: white;
    border: none;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}
h5 {
    color: #6b017e;
    font-weight: 800;
}

.back { 
    background-color: #efabe0;
    color: white;
    border: none;
    padding: 10px 20px;
    height: 50px;
    margin-left: 50px;
    border-radius: 20px;
    cursor: pointer;

}
.back:hover {
    transform: scale(1.05);
}