<h2>{{ categoryName }}</h2>
<div class="product-list">
    <div class="product-card" *ngFor="let product of categoryProducts">
        <a [routerLink]="['/product', product.id]">
      <div class="image-gallery">
        <img [src]="product.image">
      </div>
      <div class="info">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <p><strong>{{ product.price }} KZT</strong></p>
        <p>⭐ {{ product.rating }} </p> 
      </div>
         </a>
    </div>
</div>


<h5><button style="width: 20%; height: 50px;"><a style="color: aliceblue; text-decoration: none; font-size: 25px;" [routerLink]="['/']">BACK</a></button></h5>