h1 {
    text-align: center;
    font-size: 50px;
    background-color: rgba(255, 192, 237, 0.617);
    border-radius: 50px;
    margin: 30px 20px 30px 20px;
    color: rgba(208, 0, 163, 0.544);
  }
  .product-card  a{
    text-decoration: none;
  }
  .product-card a:active {
    color: #6b017e;
  }
  h5 {
    font-size: 15px;
    text-align: center;
    border-radius: 50px;
    margin: 20px;
    color: rgba(208, 0, 163, 0.544);
  }
.product-list {
    font-family: Didot, serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    border: solid rgba(208, 0, 163, 0.251);
    border-radius: 20px;
    flex-direction: row;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 20px;
    gap: 20px;
    justify-content: center;
}
.product-card {
    background: #fff;
    border-radius: 10px;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(174, 27, 169, 0.3);
    text-align: center;
  }
  .product-card:hover {
    transform: scale(1.05);
  }
  .image-gallery {
    position: relative;
    display: flex;
    margin: auto;
  }
  
  .image-gallery img {
    padding-left: 0px;
    margin-left: 26px;
    width: 170px;
    height: 250px;
    border-radius: 10px;
  }
  .product-card a {
    font-size: 30px;
    margin: 30px 20px 30px 20px;
    color: rgba(208, 0, 163, 0.544);
  }
    .product-card  a{
        text-decoration: none;
      }
      .product-card a:active {
        color: rgba(208, 0, 163, 0.544);
      }
      .product-card a:link {
        color: rgba(208, 0, 163, 0.544);
      }